@font-face {
  font-family: "CenturyGothicRegular";
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"), url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'antiqua';
  src: url("../fonts/Antiqua/antiqua.eot");
  src: url("../fonts/Antiqua/antiqua.eot") format("embedded-opentype"), url("../fonts/Antiqua/antiqua.woff2") format("woff2"), url("../fonts/Antiqua/antiqua.woff") format("woff"), url("../fonts/Antiqua/antiqua.ttf") format("truetype"), url("../fonts/Antiqua/antiqua.svg#antiqua") format("svg"); }
* {
  padding: 0;
  margin: 0; }

html {
  margin-top: 0 !important;
  padding-top: 0 !important;
  height: 100%; }

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "CenturyGothicRegular"; }

.contain {
  display: block;
  margin: 0 auto;
  position: relative; }
  .contain:before, .contain:after {
    display: table;
    content: " "; }
  .contain:after {
    clear: both; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

.block_title {
  color: #fff;
  font-size: 67px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "antiqua"; }

.p0 {
  padding: 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.red {
  background-color: #ed2124; }

.black {
  background-color: #000; }

.header {
  display: block;
  float: left;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.7);
  line-height: 160px;
  vertical-align: middle;
  z-index: 99; }
  .header--logo {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #000; }
    .header--logo--img {
      width: 80%;
      height: auto;
      fill: #fff; }
    .header--logo img {
      display: none; }
  .header--numb {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #FFF;
    text-align: right;
    width: 54%; }
    .header--numb h4 {
      font-size: 45px;
      font-family: "antiqua";
      margin: 0; }
    .header--numb p {
      font-size: 18px;
      margin: 0; }
  .header--callbut {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    width: 25%;
    position: relative; }
    .header--callbut a {
      float: right;
      color: #FFF;
      position: relative;
      right: 0;
      text-align: center;
      display: block;
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
      width: 211px;
      height: 46px;
      line-height: 46px;
      border: 2px solid #ef1b20;
      background-color: rgba(255, 255, 255, 0.1);
      text-decoration: none;
      -webkit-transition: all 0.4s linear;
      -moz-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      transition: all 0.4s linear;
      outline: none; }
      .header--callbut a:hover {
        background-color: white;
        color: #ef1b20; }

.title {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  padding: 200px 0 100px;
  background-image: url("../img/0-1.jpg");
  background-position: 50% 0%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .title h2 {
    text-align: right;
    color: #FFF;
    font-weight: bold;
    font-size: 40px; }
    .title h2 span {
      padding: 5px 15px;
      display: inline-block; }
  .title__form {
    display: block;
    float: right;
    width: 350px;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    padding: 0 15px 10px;
    margin-top: 100px; }
    .title__form:before, .title__form:after {
      display: table;
      content: " "; }
    .title__form:after {
      clear: both; }
    .title__form--head {
      background-color: rgba(0, 0, 0, 0.7);
      color: #FFF;
      font-weight: bold;
      font-size: 20px;
      margin: 0 -15px 25px;
      padding: 10px 15px; }
    .title__form--input {
      display: block;
      width: 100%;
      position: relative;
      outline: none;
      height: 31px;
      padding-left: 10px;
      border: none;
      border-bottom: 1px solid #777;
      margin: 10px 0; }
    .title__form--sub {
      display: block;
      margin: 15px auto;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      width: 165px;
      height: 44px;
      border: 2px solid #ef1b20;
      background-color: #000;
      -webkit-transition: all 0.4s linear;
      -moz-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      transition: all 0.4s linear;
      color: #FFF; }
      .title__form--sub:hover {
        background-color: #fff;
        color: #ed2124; }
  .title--boxesimg {
    position: absolute;
    display: block;
    bottom: -250px;
    left: 0;
    z-index: 9; }
    .title--boxesimg img {
      width: 100%; }
  .title--whiteline {
    display: block;
    height: 145px;
    background-color: #FFF;
    bottom: -145px;
    position: relative;
    z-index: 0; }

.boxes {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-color: #EBEBEB;
  padding: 0 0 50px; }
  .boxes__item {
    display: block;
    float: left;
    padding: 0 5px;
    margin: 80px 0 10px;
    width: 33.33333%; }
    .boxes__item:before, .boxes__item:after {
      display: table;
      content: " "; }
    .boxes__item:after {
      clear: both; }
    .boxes__item--img {
      display: block;
      margin: 0 auto;
      position: relative;
      width: 228px;
      height: 228px;
      border: 13px solid #ebebeb;
      background-color: #ebebeb;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
      word-spacing: nowrap;
      vertical-align: middle; }
      .boxes__item--img:after {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      .boxes__item--img img {
        position: relative;
        top: 50%;
        transform: translate(-20%, -56%);
        max-height: 90%;
        width: auto;
        vertical-align: middle; }
    .boxes__item--desc {
      display: block;
      float: left;
      width: 100%;
      background-color: #4F4F4F;
      padding: 75px 10px 15px;
      color: #fff;
      margin-top: -75px; }
      .boxes__item--desc h4 {
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold; }
        .boxes__item--desc h4 span {
          color: #ed2124;
          font-size: 52px; }
      .boxes__item--desc ul {
        margin-bottom: 15px;
        list-style: disc;
        padding-left: 25px;
        min-height: 150px; }
        .boxes__item--desc ul li {
          font-size: 21px; }
      .boxes__item--desc--but {
        display: block;
        margin: 15px auto;
        font-size: 22px;
        text-align: center;
        text-transform: uppercase;
        width: 164px;
        height: 44px;
        border: 2px solid #ef1b20;
        background-color: rgba(255, 255, 255, 0.1);
        font-weight: bold;
        line-height: 43px;
        color: #FFF;
        text-decoration: none;
        -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
        transition: all 0.4s linear; }
        .boxes__item--desc--but:hover {
          background-color: rgba(255, 255, 255, 0.8);
          color: #ed2124;
          text-decoration: none; }
      .boxes__item--desc--more {
        display: block;
        float: left;
        width: 100%; }
        .boxes__item--desc--more a {
          text-align: center;
          color: #000;
          text-decoration: underline;
          font-size: 22px;
          display: block;
          padding: 10px 0; }

.infographics {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  background-color: #FFF; }
  .infographics__box {
    height: 750px;
    display: block;
    float: left;
    position: relative;
    width: 100%;
    margin: 50px 0; }
  .infographics p {
    font-size: 18px;
    font-weight: 900; }
  .infographics__item-1 {
    display: block;
    position: absolute;
    left: 75px;
    width: 270px; }
  .infographics__item-2 {
    display: block;
    position: absolute;
    right: 175px;
    width: 270px;
    top: 50px; }
    .infographics__item-2 p {
      padding-left: 55px; }
  .infographics__item-3 {
    position: absolute;
    bottom: 25px;
    left: 75px; }
    .infographics__item-3 p {
      padding-left: 75px; }
  .infographics__item-4 {
    position: absolute;
    bottom: 25px;
    right: 100px;
    width: 345px; }
    .infographics__item-4 p {
      position: absolute;
      left: 125px; }
    .infographics__item-4 img {
      margin-top: 15px; }
  .infographics__item-center {
    width: 400px;
    height: 400px;
    background-image: url("../img/center-item.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: 50% 50%;
    top: 20%;
    left: 38%;
    position: absolute; }
  .infographics .arrow-left-top {
    position: absolute;
    left: -115px;
    width: 106px;
    height: 149px;
    top: 30px; }
    .infographics .arrow-left-top img {
      width: 100%;
      height: auto; }
  .infographics .arrow-right-top {
    width: 250px;
    height: 128px;
    position: absolute;
    right: -110px;
    top: 47px; }
    .infographics .arrow-right-top img {
      width: 100%;
      height: auto; }
  .infographics .arrow-left-bot {
    width: 223px;
    height: 107px;
    bottom: -182px;
    left: -130px;
    position: absolute; }
    .infographics .arrow-left-bot img {
      width: 100%;
      height: auto; }
  .infographics .arrow-right-bot {
    position: absolute;
    width: 134px;
    height: 183px;
    bottom: -185px;
    right: 75px; }
    .infographics .arrow-right-bot img {
      width: 100%;
      height: auto; }

.reasons {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  padding: 0 0 25px;
  background-image: url("../img/volos3.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 50%; }
  .reasons ul {
    margin-top: 25px; }
    .reasons ul li {
      position: relative;
      padding-left: 60px;
      margin-bottom: 25px; }
      .reasons ul li:before {
        content: "";
        width: 40px;
        height: 40px;
        margin-left: -60px;
        display: block;
        float: left;
        background: url("../img/liststyle.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover; }
      .reasons ul li h4 {
        font-size: 25px;
        font-weight: 900;
        text-transform: uppercase;
        padding-top: 10px; }
      .reasons ul li p {
        font-size: 20px; }

.want {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  padding: 50px 0;
  color: #FFF; }
  .want h4 {
    display: block;
    float: left;
    text-align: right;
    padding-left: 60px;
    font-weight: bold; }
  .want--input {
    display: block;
    float: left;
    margin: 0 10px;
    width: 240px;
    font-size: 16px;
    padding-left: 5px;
    height: 44px;
    color: #000; }
  .want--sub {
    display: block;
    float: left;
    margin: 0 0 0 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    width: 165px;
    height: 44px;
    border: 2px solid #ef1b20;
    background-color: #000;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    color: #FFF; }
    .want--sub:hover {
      background-color: #fff;
      color: #ed2124; }
  .want--description {
    display: block;
    float: left;
    width: 100%;
    height: 100px;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: 10% 0;
    padding-left: 210px;
    padding-top: 25px; }
    .want--description p {
      font-size: 21px; }

.reviews {
  display: block;
  float: left;
  width: 100%;
  position: relative; }
  .reviews__box {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    margin-top: 50px; }
  .reviews__item {
    display: block;
    float: left;
    position: relative;
    width: 33.33333%;
    margin: 25px 0;
    padding: 0 10px; }
    .reviews__item:before, .reviews__item:after {
      display: table;
      content: " "; }
    .reviews__item:after {
      clear: both; }
    .reviews__item--img {
      display: block;
      width: 90%;
      margin: 0 auto 25px;
      position: relative; }
      .reviews__item--img img {
        width: 100%;
        height: auto; }
    .reviews__item h2 {
      font-size: 35px;
      text-align: center;
      margin-bottom: 15px; }
    .reviews__item p {
      font-size: 17px;
      position: relative;
      padding: 20px 0; }
      .reviews__item p:before, .reviews__item p:after {
        content: "";
        display: block;
        position: relative;
        height: 20px;
        background-repeat: no-repeat; }
      .reviews__item p:before {
        left: -15px;
        background-image: url("../img/quote-top.png");
        background-position: 0 0; }
      .reviews__item p:after {
        background-image: url("../img/quote-bot.png");
        background-position: 100% 0;
        right: -15px; }

.boxes .modal.in .modal-dialog {
  width: 75%;
  margin-top: 75px; }
.boxes .modal-content {
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 25px 10px; }
  .boxes .modal-content ol {
    padding-left: 25px; }
    .boxes .modal-content ol li {
      font-size: 20px;
      margin-bottom: 15px; }
  .boxes .modal-content h3 {
    font-weight: bold;
    font-size: 27px; }
  .boxes .modal-content p {
    font-size: 20px;
    margin-bottom: 0; }
.boxes .modal-body {
  width: 75%; }
.boxes #modal--black .modal-content {
  color: #FFF;
  background-image: url("../img/mod-bg1.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.boxes #modal--white .modal-content {
  color: #FFF;
  background-image: url("../img/mod-bg2.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.boxes #modal--red .modal-content {
  color: #FFF;
  background-image: url("../img/mod-bg3.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.modal.in .modal-dialog {
  width: 350px;
  margin-top: 75px; }
  .modal.in .modal-dialog .modal-content {
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.3); }

.modal-body {
  position: relative;
  padding: 0 15px; }

.footer {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding-top: 15px; }
  .footer h5 {
    color: #FFF;
    font-size: 16px;
    text-align: center; }

@media only screen and (max-width: 1050px) {
  .header, .footer {
    display: inline-block;
    float: none; }

  .header--logo svg {
    display: none; }

  .header--logo img {
    display: block;
    width: 80%;
    height: auto;
    margin-left: 10px; }

  .boxes__item--desc ul {
    min-height: 210px; }

  .boxes__item--desc h4 {
    min-height: 85px; }

  .infographics__item-1 {
    left: 0; }

  .infographics__item-2 {
    right: 45px; }

  .infographics__item-3 {
    left: 0; }

  .infographics__item-4 {
    right: 0; }

  .infographics .arrow-left-top {
    left: -86px;
    width: 75px; }

  .infographics .arrow-right-top {
    width: 206px;
    height: 128px;
    right: -60px;
    top: 60px; }

  .infographics .arrow-right-bot {
    width: 105px;
    height: 183px;
    bottom: -176px;
    right: 165px; }

  .infographics .arrow-left-bot {
    width: 165px;
    height: 107px;
    bottom: -182px;
    left: -90px; }

  .want h4 {
    display: block;
    float: none;
    text-align: center;
    padding-left: 0; }

  input.want--input {
    display: block;
    float: none;
    margin: 15px auto; }

  input.want--sub {
    margin: 10px auto;
    display: block;
    float: none; }

  .reviews__item h2 {
    font-size: 24px; } }
@media only screen and (max-width: 770px) {
  .align-left {
    text-align: center; }

  .align-right {
    text-align: center; }

  .boxes__item {
    width: 90%;
    margin: 10px auto 10px;
    float: none; }

  .reviews__item {
    width: 100%;
    margin: 15px auto; }
    .reviews__item h2 {
      font-size: 20px; }
    .reviews__item p:before {
      left: 0; }
    .reviews__item p:after {
      right: 0; }

  .want--input {
    display: block;
    float: none;
    margin: 10px auto;
    width: 90%; }

  .want--sub {
    float: none;
    margin: 10px auto; }

  .arrow-left-top {
    display: none; }

  .arrow-right-top {
    display: none; }

  .arrow-left-bot {
    display: none; }

  .arrow-right-bot {
    display: none; }

  .infographics__item-1, .infographics__item-2, .infographics__item-3, .infographics__item-4, .infographics__item-center {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    left: inherit;
    right: inherit;
    top: inherit;
    bottom: inherit;
    margin: 25px auto; }
    .infographics__item-1 img, .infographics__item-2 img, .infographics__item-3 img, .infographics__item-4 img, .infographics__item-center img {
      width: 90%;
      display: block;
      margin: 15px auto; }
    .infographics__item-1 p, .infographics__item-2 p, .infographics__item-3 p, .infographics__item-4 p, .infographics__item-center p {
      padding: 0;
      text-align: center; }
  .infographics__item-4 p {
    position: relative;
    left: 0; }

  .infographics__box {
    height: auto; }

  .header--numb {
    width: 45%; }
    .header--numb h4 {
      font-size: 34px; }
    .header--numb p {
      font-size: 14px; }

  .header--callbut {
    width: 33%; } }
@media only screen and (max-width: 500px) {
  .title h2 {
    font-size: 28px; }
  .title span.black {
    background-color: rgba(0, 0, 0, 0.7); }
  .title span.red {
    background-color: rgba(237, 33, 36, 0.7); }

  .title__form {
    width: 100%;
    float: none;
    margin: 100px auto 25px; }

  .reasons ul li {
    padding-left: 45px;
    padding-right: 10px; }
    .reasons ul li p {
      font-size: 16px; }
    .reasons ul li:before {
      margin-left: -45px; }

  .modal.in .modal-dialog {
    width: 300px !important; }

  .header--logo {
    width: 45%; }

  .header--numb {
    width: 50%; }
    .header--numb p {
      font-size: 7px; }
    .header--numb h4 {
      font-size: 18px; }

  .header {
    line-height: normal;
    height: 150px; }

  .header--callbut {
    width: 100%; }
    .header--callbut a {
      float: none;
      margin: 15px auto; }

  .want--description {
    padding-left: 105px; }
    .want--description p {
      font-size: 12px; }

  .block_title {
    font-size: 30px; }

  .modal-backdrop.fade.in {
    max-width: 100% !important; }

  .modal-open .modal {
    max-width: 100% !important; } }
@media (min-width: 768px) {
  .contain {
    width: 750px; } }
@media (min-width: 992px) {
  .contain {
    width: 900px; } }
@media (min-width: 1200px) {
  .contain {
    width: 1200px; } }

/*# sourceMappingURL=style.css.map */
